@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
}

.card {
  padding: 2em;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: #666;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 2px #444;
  transition: all 0.2s ease;
}

.login-button:hover {
  background-color: #555;
}

.login-button:active {
  background-color: #777;
  box-shadow: 0 2px #444;
  transform: translateY(2px);
}


.read-the-docs {
  color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: black;
  border-color: #3b3b3b;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}


@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }

  .nav-height {
    @apply h-[calc(100vh-100px)]
  }

  .btn {
    @apply px-5 py-2 rounded-3xl bg-primary my-5 hover:bg-transparent border border-transparent hover:border hover:text-semantic-purple hover:border-semantic-purple shadow-md
  }

  .btn-buynow-popular {
    @apply px-5 py-4 rounded-3xl text-neutral-200 font-semibold bg-purple-700 shadow-md hover:bg-purple-500
  }
  
  .btn-buynow {
    @apply px-5 py-4 rounded-3xl text-neutral-200 font-semibold bg-black hover:bg-purple-500 shadow-md
    
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur
  }
}