@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.table-container {
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.table-container thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background: black;
}

.text-green-500 {
  font-weight: 900;
  color: green;
  background: black
}

.text-red-500 {
  font-weight: 500;
  color: red;
  background: black
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal h2 {
  margin-top: 0;
}

.modal button {
  margin: 5px;
}


@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }

  .nav-height {
    @apply h-[calc(100vh-100px)]
  }

  .btn {
    @apply px-5 py-2 rounded-3xl bg-primary my-5 hover:bg-transparent border border-transparent hover:border hover:text-semantic-purple hover:border-semantic-purple shadow-md
  }

  .btn-buynow {
    @apply px-5 py-4 rounded-3xl text-neutral-200 font-semibold bg-black hover:bg-purple-500 shadow-md
    
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur
  }

  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5
  }

  .section-heading {
    @apply text-gray lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20
  }

  .link {
    @apply text-purple-500 hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20
  }

  .buynow-title {
    @apply text-4xl md:text-7xl font-semibold text-center
  }

  .buynow-subtitle {
    @apply text-gray font-semibold text-xl md:text-2xl pt-6 pb-2 text-center
  }

  .buynow-text-container {
    @apply flex md:flex-row flex-col justify-between items-start gap-24
  }

  .buynow-text {
    @apply text-gray text-xl font-normal md:font-semibold
  }

  .buynow-card-sale {
    @apply flex items-center text-sm font-semibold text-neutral-200
  }

  .admin-card-title {
    @apply text-5xl mb-8 text-#646cff leading-6 text-center items-center justify-center
  }

  .buynow-card-ul {
    @apply space-y-4 flex-1
  }

  .buynow-card-text-sm {
    @apply text-sm leading-6 text-neutral-200
  }

  .buynow-card-text-xs {
    @apply text-xs leading-6 text-neutral-200
  }

  .buynow-input-text {
    @apply text-black pb-4
  }
}